* text=auto

.gitattributes text eol=lf
*.go text eol=lf
*.sh text eol=lf
*.tf text eol=lf
*.tfvars text eol=lf
*.hcl text eol=lf
*.sql text eol=lf
*.rego text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
Dockerfile text eol=lf
